.form {
  margin: 600px;
  display:flexbox;
  margin-top: 50px;
  justify-content: center;
  
}

.form input {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 80%;
  border-radius: 10px;
  text-align: left;
  background-color: #e8ebef;
  font-size: large;
}

.form button {
  display:flex;
  margin-left:90px;
  right: 70px;
  font-size: large;
  border-radius: 10px;
  background-color:  #b6d3e6 ;   

  
}
